@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Source Code Pro", monospace;
}

.notation-text {
  font-family: var(--font-mono);
  font-size: 16px;
  font-feature-settings: "mark" 1, "mkmk" 1;
}
